*{
    padding: 10;
    margin:0;
}
body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

}
.form{
    height:80%;
    width: 100vw;
}

input{
    outline: none;
    border:0px;
    border-radius: 30px;
    background-color: #eee;
    padding: 10px 20px;
}

button{
    border-radius: 20px;
}